<body style="background-color:#FFFAFA">
  <div id="wrapper">
    <div class="main-content">
      <div>
        <h4>pangaea</h4><br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render 'layouts/error_messages.html.erb', object: f.object %> 
        <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "input-1" %>
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "input-2" %>
        
        <%= f.submit "Log In", class: 'bu' %>
        <% end %>
      </div>
      <%= link_to "Forgot Password?",  new_user_password_path %>
    </div>
    <div class="sub-content">
      Don't have an account? <%= link_to " Sign Up",  new_user_registration_path %>
    </div>
  </div>
</body>
